// Breakpoints
$mini: 30em !default;
$sm: 40em !default; //648px
$md: 52em !default;
$lg: 64em !default; // 1280px;
$xl: 75em !default;

// Variables
$border-radius: 0.25rem !default;
$font-family: "Raleway", "Helvetica Neue", Arial, sans-serif !default;
$light-font-color: $pastel-grey !default;
$middle-font-color: $middle-grey !default;
$transition: all 0.4s ease-out !default;
